LoadPlugin rrdcached
<Plugin rrdcached>
    DaemonAddress "unix:/tmp/rrdcached.sock"
    #DataDir "/var/lib/rrdcached/db/collectd"
    DataDir "/var/lib/collectd/rrd"
    CreateFiles true
</Plugin>

#LoadPlugin rrdtool
#<Plugin rrdtool>
#	DataDir "/var/lib/collectd/rrd"
#</Plugin>
